#search {
    float: left;
    width: 30%;
    overflow-y: auto;
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapView {
    float: right;
    width: 70%;
    height: 100%;
}

#map {
    height: 100%;
}

form {
    max-width: 480px;
    margin: auto;
}

.form-group > [class*="col-"] + .ws-errorbox {
    padding: 0 15px;
}

.cross:hover {
    color: green;
}

.star:hover {
    color: red;
}

.infocircle:hover {
    color: blue;
}

#dialog {
    width: 25%;
    height: 25%;
}

#pac-input {
    width: 100%
}
