#search {
    border-right: 3px solid black;
    float: left;
    width: 30%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#mapView {
    float: right;
    width: 70%;
    height: 100%;
}
#map {
    height: 100%;
}
form {
    max-width: 480px;
    margin: auto;
}
.form-group >[class*="col-"] + .ws-errorbox {
    padding: 0 15px;
}